@page "/budgeting"
@rendermode InteractiveServer
@using BudgettingWebApps.Models
@using BudgettingWebApps.Components.Pages.Budgeting.Components
@using BudgettingWebApps.Reposiotories

<h3>Budgeting</h3>
<table class="table">
    <thead>
        <tr>
            <th>Income Name</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var income in _income)
        {
            <IncomeRows @key="income" Income="@income"/>
        }
    </tbody>
</table>

@code {
    // List<IncomeDto> _income = new List<IncomeDto>()
    // {
    //     new IncomeDto(){Id = 1, IncomeName="Salary", Amount= 3500, TransactionDate = new DateTime(2024,01,01) },
    //     new IncomeDto(){Id = 2, IncomeName="Side Hustle", Amount= 350, TransactionDate = new DateTime(2024,01,01) },
    //     new IncomeDto(){Id = 3, IncomeName="Gifts", Amount= 100, TransactionDate = new DateTime(2024,01,01) }
    // };
    IEnumerable<IncomeDto> _income = new List<IncomeDto>();

    [Inject]
    private IincomeRepository repository { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _income =await repository.GetIncome(2);
        await base.OnInitializedAsync();
    }

}
