@* <h3>StatusSelector</h3> *@
@if (incomeStatus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>IsPaid</th>
                        <th>Comment</th>
                        <th>Transaction Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var status in incomeStatus)
                    {
                        <tr @key="status">
                            <td>
                                <input type="checkbox" checked="@status.IsPaid" @onclick="e => CheckBoxChanged( status)"/>
                            </td>
                            <td>@status.Comments</td>
                            @if (status.IsPaid)
                            {
                                <td>@status.TransactionDate.ToString("dd/MM/yyyy")</td>
                            }else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-primary" disabled="@SaveButtonDisabled" @onclick ="SaveClick">Save             

            </button>
        </div>
    </div>
}

@code {

}
